.header-css {
  background-color: #ffffff;
}

.no-scroll {
  overflow: hidden;
}

.active-nav-link {
  color: #2fc48d !important;
}

.active-nav-link::after {
  content: '';
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 2px;
  background-color: #2fc48d;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.active-nav-link:focus,:hover {
  color: #2fc48d;
}

nav a::after {
  content: '';
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 0;
  background-color: #2fc48d;
  transition: height 0.3s ease;
}

nav a:hover::after {
  height: 2px;
}

.group > span {
  position: relative;
}

.group > span::after {
  content: '';
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 0;
  background-color: #2fc48d;
  transition: height 0.3s ease;
}

.group:hover > span::after,
.group > span.text-\[\#2fc48d\]::after {
  height: 2px;
}

.group:hover > div {
  transform: translateY(0);
}

.group > div {
  transform: translateY(5px);
}

@media (max-width: 1024px) {
  nav a::after {
    display: none;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}
