form {
  @apply w-full;
}

label {
  @apply mb-1 block text-sm font-medium;
}

input {
  @apply w-full;
}

p {
  @apply text-black;
}

.btn {
  @apply border-2 border-black px-8 py-2 transition-all hover:bg-black hover:text-white;
}

.border-error {
  @apply border-red-500;
}
