/* typography.css */

/* Base Styles */
body {
  @apply bg-gray-100 font-sans leading-relaxed text-black;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-5xl;
}

h3 {
  @apply text-4xl;
}

h4 {
  @apply text-3xl;
}

h5 {
  @apply text-2xl;
}

h6 {
  @apply text-xl;
}

/* Paragraphs */
p {
  @apply text-base;
}

/* Links */
a {
  @apply text-blue-500 no-underline transition-colors duration-300;
}

a:hover {
  @apply text-blue-600;
}

/* Lists */
ul,
ol {
  @apply mb-4;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

/* Blockquotes */
blockquote {
  @apply my-6 border-l-4 border-gray-300 pl-4 italic text-gray-500;
}

/* Code */
code {
  @apply rounded bg-gray-100 px-1 py-0.5 font-mono text-red-500;
}

pre {
  @apply overflow-x-auto rounded-lg bg-gray-800 p-4 text-white;
}

/* Tables */
table {
  @apply mb-4 w-full border-collapse;
}

th,
td {
  @apply border border-gray-200 p-2 text-left;
}

th {
  @apply font-bold;
}
