<!-- Hero Section -->
<app-lazy-section class="container pt-20">
  <div class="flex flex-col-reverse items-center justify-between max-md:gap-5 md:flex-row">
    <div class="flex w-full flex-col gap-5 md:w-1/4 md:gap-10">
      <h1 class="mb-4 text-4xl font-bold">PaintPalette: Your go-to paint supplier</h1>
      <p class="mb-8 text-gray-600">Explore our extensive range of paint products for every need.</p>
      <button class="btn">Discover Products</button>
    </div>
    <div class="w-full md:w-1/2">
      <img src="https://placehold.co/600x600?text=Hero+Image" alt="Hero Image" class="aspect-1 h-full w-full" />
    </div>
  </div>
  <div class="flex items-center justify-center py-5 md:py-10">
    <i class="fa-solid fa-chevron-down"></i>
  </div>
  <!-- Stats Section -->
  <div class="flex flex-wrap justify-center text-center">
    <ng-container *ngFor="let stats of statsList">
      <div class="w-full p-4 md:w-1/4">
        <h3 class="mb-2 text-lg font-semibold">{{ stats.title }}</h3>
        <p class="text-2xl font-bold">{{ stats.value }}</p>
      </div>
    </ng-container>
  </div>
</app-lazy-section>

<!-- Commitment Section -->
<app-lazy-section class="w-full border-t border-gray-500 bg-white">
  <div class="container py-20">
    <div class="flex flex-col items-center gap-12 md:flex-row lg:gap-20">
      <div class="aspect-square w-full md:w-1/2">
        <img
          src="https://placehold.co/600x600?text=Innovation+Image"
          alt="Innovation Image"
          class="aspect-1 h-full w-full"
        />
      </div>
      <div class="flex flex-1 flex-col items-start">
        <h2 class="mb-6 text-4xl font-bold leading-tight text-black">
          PaintPalette is committed to quality and sustainability.
        </h2>
        <p class="mb-10 text-lg font-light italic text-gray-700">
          Our paints are designed for durability and beauty, ensuring your projects stand out.
        </p>
        <button class="border border-black px-8 py-2 text-sm text-black transition-all hover:bg-black hover:text-white">
          Join our Community
        </button>
      </div>
    </div>
  </div>
</app-lazy-section>

<!-- Quality Section -->
<app-lazy-section class="w-full border-t border-gray-500 bg-white py-24">
  <div class="container py-20 text-center">
    <h2 class="mb-8 text-4xl font-bold tracking-tight text-gray-900 md:text-5xl">Quality Assurance</h2>
    <p class="mx-auto max-w-2xl text-xl font-light italic leading-relaxed text-gray-600 md:text-2xl">
      We prioritize customer satisfaction with our top-notch products.
    </p>
  </div>
</app-lazy-section>

<!-- Innovation Section -->
<app-lazy-section class="border-t border-gray-500 bg-white">
  <div class="container mx-auto py-20">
    <div class="flex flex-col items-center md:flex-row md:gap-12 lg:gap-20">
      <div class="mb-8 w-full md:mb-0 md:w-6/12">
        <img
          src="https://placehold.co/600x600?text=Innovation+Image"
          alt="Innovation Image"
          class="aspect-1 h-full w-full"
        />
      </div>
      <div class="w-full md:w-1/2 md:p-8">
        <h2 class="mb-4 text-4xl font-bold">PaintPalette and innovation</h2>
        <p class="mb-8 text-gray-600">
          We are revolutionizing the paint industry with innovative solutions for every painter.
        </p>
        <a href="#" class="rounded bg-gray-500 px-4 py-2 font-bold text-white hover:bg-gray-700"> Start Painting </a>
      </div>
    </div>
  </div>
</app-lazy-section>

<!-- Trusted by -->
<app-lazy-section class="border-t border-gray-500 pb-10 pt-5 md:pb-16">
  <h3 class="mb-10 text-center text-4xl font-semibold md:mb-5">Trusted by</h3>
  <div class="flex flex-col justify-center gap-12 max-md:items-center md:flex-row">
    <ng-container *ngFor="let brand of brandList">
      <div class="w-fit">
        <p class="text-xl font-semibold">{{ brand.name }}</p>
      </div>
    </ng-container>
  </div>
</app-lazy-section>
