nz-carousel,
::ng-deep .ant-carousel,
::ng-deep .slick-list,
::ng-deep .slick-track,
::ng-deep .slick-slide {
  height: 100%;
  display: flex;
}

:host ::ng-deep [nz-carousel-content] {
  height: 100%;
  display: flex;
}

/* ===== PARTNER LOGO SLIDER ===== */

.partner-slider {
  overflow: hidden;
  width: 100%;
}

.logo-track {
  display: flex;
  gap: 12px;
  width: max-content;
  animation: scroll-logo 15s linear infinite;
}

.logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  background: transparent;
}

.logo-item img {
  max-height: 100px;
  max-width: 100%;
  object-fit: contain;
  filter: grayscale(0);
  transition: all 0.3s ease;
}

.logo-item img:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
}

.lazy-section {
  opacity: 0;
  transform: translateY(60px);
  transition: all 1.1s ease;
}

.lazy-section.show {
  opacity: 1;
  transform: translateY(0);
}


/* ===== ANIMATION ===== */

@keyframes scroll-logo {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 1024px) {
  .logo-item {
    flex: 0 0 calc(33.333% - 12px); /* 3 logo */
  }
}

@media (max-width: 640px) {
  .logo-item {
    flex: 0 0 calc(50% - 12px);     /* 2 logo */
  }
}
