<div class="flex justify-center items-center w-full h-full text-white p-6 rounded-lg shadow-md">
  <form class="bg-gray-800 md:w-[480px]" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2 class="text-center text-2xl font-bold mb-4">Đăng ký</h2>

    <div class="mb-4">
      <label for="phone" class="block mb-2 text-sm">Số điện thoại</label>
      <input
        type="text"
        id="phone"
        formControlName="phoneNumber"
        [class.input-error]="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched"
        class="focus:border-purple-500 focus:outline-none"
      />
      <div *ngIf="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched" class="error-message">
        <span *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">Số điện thoại là bắt buộc.</span>
        <span *ngIf="registerForm.get('phoneNumber')?.errors?.['minlength']">Số điện thoại phải có ít nhất 6 ký tự.</span>
      </div>
    </div>

    <div class="mb-4">
      <label for="password" class="block mb-2 text-sm">Mật khẩu</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        [class.input-error]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched"
        class="focus:border-purple-500 focus:outline-none"
      />
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
        <span *ngIf="registerForm.get('password')?.errors?.['required']">Mật khẩu là bắt buộc.</span>
        <span *ngIf="registerForm.get('password')?.errors?.['minlength']">Mật khẩu phải có ít nhất 6 ký tự.</span>
      </div>
    </div>

    <div class="mb-4">
      <label for="confirm-password" class="block mb-2 text-sm">Nhập lại mật khẩu</label>
      <input
        type="password"
        id="confirm-password"
        formControlName="retypedPassword"
        [class.input-error]="registerForm.get('retypedPassword')?.invalid && registerForm.get('retypedPassword')?.touched"
        class="focus:border-purple-500 focus:outline-none"
      />
      <div *ngIf="registerForm.get('retypedPassword')?.invalid && registerForm.get('retypedPassword')?.touched" class="error-message">
        <span *ngIf="registerForm.get('retypedPassword')?.errors?.['required']">Nhập lại mật khẩu là bắt buộc.</span>
        <span *ngIf="registerForm.get('retypedPassword')?.errors?.['mustMatch']">Mật khẩu không khớp.</span>
      </div>
    </div>

    <div class="mb-4">
      <label for="full-name" class="block mb-2 text-sm">Họ và tên</label>
      <input
        type="text"
        id="full-name"
        formControlName="fullName"
        [class.input-error]="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched"
        class="focus:border-purple-500 focus:outline-none"
      />
      <div *ngIf="registerForm.get('fullName')?.invalid && registerForm.get('fullName')?.touched" class="error-message">
        <span *ngIf="registerForm.get('fullName')?.errors?.['required']">Họ và tên là bắt buộc.</span>
        <span *ngIf="registerForm.get('fullName')?.errors?.['minlength']">Họ và tên phải có ít nhất 6 ký tự.</span>
      </div>
    </div>

    <div class="mb-4">
      <label for="date-of-birth" class="block mb-2 text-sm">Ngày sinh</label>
      <input
        type="date"
        id="date-of-birth"
        formControlName="dateOfBirth"
        [class.input-error]="registerForm.get('dateOfBirth')?.invalid && registerForm.get('dateOfBirth')?.touched"
        (change)="validateAge()"
        class="focus:border-purple-500 focus:outline-none"
      />
      <div *ngIf="registerForm.get('dateOfBirth')?.invalid && registerForm.get('dateOfBirth')?.touched" class="error-message">
        <span *ngIf="registerForm.get('dateOfBirth')?.errors?.['required']">Ngày sinh là bắt buộc.</span>
        <span *ngIf="registerForm.get('dateOfBirth')?.errors?.['invalidAge']">Bạn phải đủ 18 tuổi trở lên.</span>
      </div>
    </div>

    <div class="mb-4">
      <label for="address" class="block mb-2 text-sm">Địa chỉ</label>
      <input
        type="text"
        id="address"
        [class.input-error]="registerForm.get('address')?.invalid && registerForm.get('address')?.touched"
        formControlName="address"
        class="focus:border-purple-500 focus:outline-none"
      />
      <div *ngIf="registerForm.get('address')?.invalid && registerForm.get('address')?.touched" class="error-message">
        <span *ngIf="registerForm.get('address')?.errors?.['required']">Địa chỉ là bắt buộc.</span>
        <span *ngIf="registerForm.get('address')?.errors?.['minlength']">Địa chỉ phải có ít nhất 6 ký tự.</span>
      </div>
    </div>

    <div class="flex items-center mb-4">
      <input type="checkbox" id="agreement" formControlName="agreeTerms" class="mr-2" />
      <label for="agreement" class="text-sm">Tôi đồng ý với các điều khoản và điều kiện</label>
    </div>
    <div *ngIf="registerForm.get('agreeTerms')?.invalid && registerForm.get('agreeTerms')?.touched" class="error-message">
      <span *ngIf="registerForm.get('agreeTerms')?.errors?.['required']">Bạn phải đồng ý với các điều khoản và điều kiện.</span>
    </div>

    <button
      type="submit"
      class="w-full bg-purple-500 text-white rounded-md hover:bg-purple-600 transition-colors duration-300"
    >
      Đăng ký
    </button>

    <p class="mt-4 text-sm text-center">
      Bạn đã có tài khoản?
      <a href="#" class="text-purple-500 hover:text-purple-600">Đăng nhập</a>
    </p>
  </form>
</div>