<div class="container flex flex-col items-center gap-8 py-4">
  <div class="w-fit p-4 border rounded-lg">
    <h1 class="text-xl lg:text-2xl">Xác nhận đơn hàng</h1>
    <p class="mt-4">
      Cảm ơn bạn đã đặt hang! Dưới đây là thông tin chi tiết dơn hàng của bạn
    </p>
  </div>
  <div class="w-full overflow-auto">
    <table class="w-full mt-4 text-white">
      <thead>
        <tr>
          <th class="px-4 py-2">Sản phẩm</th>
          <th class="px-4 py-2">Số lượng</th>
          <th class="px-4 py-2">Đơn giá</th>
          <th class="px-4 py-2">Tổng giá</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-4">
            <div class="flex gap-4">
              <img
                src="../../assets/images/product.png"
                alt="Product Image"
                class="aspect-1 w-24 rounded-md"
              />
              <p class="px-4 py-2">Tên sản phẩm</p>
            </div>
          </td>
          <td class="px-4 py-2">2</td>
          <td class="px-4 py-2">100,000 ₫</td>
          <td class="px-4 py-2">200,000 ₫</td>
        </tr>
        <tr>
          <td class="p-4">
            <div class="flex gap-4">
              <img
                src="../../assets/images/product.png"
                alt="Product Image"
                class="aspect-1 w-24 rounded-md"
              />
              <p class="px-4 py-2">Tên sản phẩm</p>
            </div>
          </td>
          <td class="px-4 py-2">2</td>
          <td class="px-4 py-2">100,000 ₫</td>
          <td class="px-4 py-2">200,000 ₫</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    class="bg-purple-500 ounded-md hover:bg-purple-600 transition-colors duration-300 md:w-fit"
  >
    Tiếp tục mua sắm
  </button>
</div>
