<app-header />

<div class="container max-w-none mx-auto">
  <div class="p-5 text-center text-white">
    <h1 class="mb-5 max-md:text-2xl text-white">Đây là trang Home</h1>
    <p>Trang này hiển thị danh sách các sản phẩm, kèm ảnh.</p>
    <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây.</p>
  </div>

  <div class="flex justify-center gap-3">
    <input type="text" class="md:!w-72 text-white placeholder-white bg-transparent" placeholder="Tìm sản phẩm" />
    <select class="w-48 text-white bg-transparent">
      <option class="text-white bg-gray-600" selected disabled>Chọn danh mục</option>
      <option class="text-white bg-gray-600">Đồ điện tử</option>
      <option class="text-white bg-gray-600">Đồ gia dụng</option>
      <option class="text-white bg-gray-600">Đánh keo</option>
    </select>
  </div>

  <div
    *ngIf="products.length > 0"
    class="grid gap-4 py-5 md:grid-cols-2 md:py-10 lg:grid-cols-3 xl:grid-cols-4 lg:gap-8"
  >
    <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
  </div>

  <div class="mb-8 flex justify-center">
    <app-pagination
      [currentPage]="pagination.page"
      [totalPages]="totalPages"
      [maxVisiblePages]="5"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination>
  </div>

  <!-- Hiển thị khi không có sản phẩm -->
  <div *ngIf="products.length === 0" class="text-center py-12">
    <p class="text-gray-500">Không tìm thấy sản phẩm nào.</p>
  </div>
</div>

<app-footer />
