/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/css/form.css';
@import './assets/css/typography.css';

.no-scroll {
  position: fixed;
  overflow-y: scroll;
  touch-action: none;
}

body {
  @supports (scrollbar-gutter: stable) {
    scrollbar-gutter: stable;
    padding-right: 16px;
  }

  @supports not (scrollbar-gutter: stable) {
    padding-right: calc(20px + (100vw - 100%));
  }
}
