.custom-checkbox {
  .ant-checkbox-inner {
    border: 1.5px solid #9ca3af !important;
    width: 16px;
    height: 16px;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #2563eb;
    border-color: #2563eb;
  }
}

.icon-wrapper {
  position: relative;
  padding: 0px 30px;
}

[nz-icon] {
  position: absolute;
  top: -2px;
  width: 16px;
  height: 16px;
  line-height: 1;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.25);
}

[nz-icon]:first-child {
  left: 0;
}

[nz-icon]:last-child {
  right: 0;
}

.icon-highlight {
  color: rgba(0, 0, 0, 0.45);
}

.price-range {
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  background: #e5e7eb;
  border-radius: 999px;
  outline: none;
}

.price-range::-webkit-slider-runnable-track {
  height: 4px;
  background: #e5e7eb;
  border-radius: 999px;
}

.price-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #2563eb;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -6px;
}
